<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.pipln.dt.unit.singleViewApplication</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
		<string>com.apple.dt.unit.sceneLifecycleApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a single view. It provides a view controller to manage the view, and a storyboard or nib file that contains the view.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Definitions</key>
	<dict>
		<key>Info.plist:UIMainStoryboardFile</key>
		<string>&lt;key&gt;UIMainStoryboardFile&lt;/key&gt;
								&lt;string&gt;Main&lt;/string&gt;
							</string>
		<key>Base.lproj/Main.storyboard</key>
		<dict>
			<key>Path</key>
			<string>Main.storyboard</string>
			<key>SortOrder</key>
			<integer>200</integer>
		</dict>
		<key>RootViewController.swift</key>
		<dict>
			<key>Path</key>
			<string>RootViewController.swift</string>
			<key>SortOrder</key>
			<string>99</string>
		</dict>
		<key>RootViewModel.swift</key>
		<dict>
			<key>Path</key>
			<string>RootViewModel.swift</string>
			<key>SortOrder</key>
			<string>99</string>
		</dict>
		<key>RootModel.swift</key>
		<dict>
			<key>Path</key>
			<string>RootModel.swift</string>
			<key>SortOrder</key>
			<string>99</string>
		</dict>
		<key>Alert.swift</key>
		<dict>
			<key>Path</key>
			<string>Alert.swift</string>
			<key>SortOrder</key>
			<string>150</string>
		</dict>
		<key>AlertAction.swift</key>
		<dict>
			<key>Path</key>
			<string>AlertAction.swift</string>
			<key>SortOrder</key>
			<string>150</string>
		</dict>
		<key>NibExampleView.swift</key>
		<dict>
			<key>Path</key>
			<string>NibExampleView.swift</string>
			<key>SortOrder</key>
			<string>150</string>
		</dict>
		<key>NibExampleView.xib</key>
		<dict>
			<key>Path</key>
			<string>NibExampleView.xib</string>
			<key>SortOrder</key>
			<string>150</string>
		</dict>
		<key>NibView.swift</key>
		<dict>
			<key>Path</key>
			<string>NibView.swift</string>
			<key>SortOrder</key>
			<string>180</string>
		</dict>
		<key>Font.swift</key>
		<dict>
			<key>Path</key>
			<string>Font.swift</string>
			<key>SortOrder</key>
			<string>180</string>
		</dict>
		<key>UIControl+Combine.swift</key>
		<dict>
			<key>Path</key>
			<string>UIControl+Combine.swift</string>
			<key>SortOrder</key>
			<string>190</string>
		</dict>
		<key>UIColor+Utils.swift</key>
		<dict>
			<key>Path</key>
			<string>UIColor+Utils.swift</string>
			<key>SortOrder</key>
			<string>190</string>
		</dict>
		<key>UIScreen+Utils.swift</key>
		<dict>
			<key>Path</key>
			<string>UIScreen+Utils.swift</string>
			<key>SortOrder</key>
			<string>190</string>
		</dict>
		<key>CGRect+Utils.swift</key>
		<dict>
			<key>Path</key>
			<string>CGRect+Utils.swift</string>
			<key>SortOrder</key>
			<string>190</string>
		</dict>
		<key>UIView+Nib.swift</key>
		<dict>
			<key>Path</key>
			<string>UIView+Nib.swift</string>
			<key>SortOrder</key>
			<string>190</string>
		</dict>
		<key>Object+ClassName.swift</key>
		<dict>
			<key>Path</key>
			<string>Object+ClassName.swift</string>
			<key>SortOrder</key>
			<string>190</string>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>Info.plist:UIMainStoryboardFile</string>
		<string>Info.plist:UIApplicationSceneManifest:UISceneStoryboardFile</string>
		<string>Base.lproj/Main.storyboard</string>
		<string>RootViewController.swift</string>
		<string>RootViewModel.swift</string>
		<string>RootModel.swift</string>
		<string>Alert.swift</string>
		<string>AlertAction.swift</string>
		<string>NibExampleView.swift</string>
		<string>NibExampleView.xib</string>
		<string>NibView.swift</string>
		<string>Font.swift</string>
		<string>UIControl+Combine.swift</string>
		<string>UIColor+Utils.swift</string>
		<string>UIScreen+Utils.swift</string>
		<string>CGRect+Utils.swift</string>
		<string>UIView+Nib.swift</string>
		<string>Object+ClassName.swift</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>userInterface</string>
			<key>Name</key>
			<string>Interface:</string>
			<key>Description</key>
			<string>The type of user interface.</string>
			<key>Values</key>
			<array>
				<string>Storyboard</string>
			</array>
			<key>Default</key>
			<string>Storyboard</string>
			<key>Type</key>
			<string>popup</string>
			<key>RequiredOptions</key>
			<dict>
				<key>languageChoice</key>
				<string>Swift</string>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Name</key>
			<string>language:</string>
			<key>Values</key>
			<array>
				<string>Swift</string>
			</array>
			<key>Default</key>
			<string>Swift</string>
			<key>Type</key>
			<string>popup</string>
		</dict>
	</array>
</dict>
</plist>
